main.ant-layout-content.site-layout-background{
    width: 100%;
    height:  30px;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.12);
}


span.ant-breadcrumb-link {
    font-size: 1.6vh;
    color: #6F91A8;
}

.title {
    font-family: 'Inter';
    font-size: 3vh;
    font-weight: 900;
    color: #2B3134;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bottom-divider {
    margin-bottom: 15px;
}

.search-bar {
    width: 50%;
    border: 2.5px solid #9EB5C4;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

span.anticon.anticon-search svg {
    fill: #6F91A8;
    font-size: 25px;
}

button.ant-btn.ant-btn-text.toolbar-btn:focus svg rect {
    fill:white;
}

button.ant-btn.ant-btn-text.toolbar-btn:focus svg path {
    fill:white;
}

button.ant-btn.ant-btn-text.toolbar-btn:focus svg circle {
    stroke:white;
}

button.ant-btn.ant-btn-text.toolbar-btn:hover svg rect {
    fill:white;
}

button.ant-btn.ant-btn-text.toolbar-btn:hover svg path {
    fill:white;
}

button.ant-btn.ant-btn-text.toolbar-btn:hover svg circle {
    stroke:white;
}

input.ant-input.ant-input-borderless::placeholder {
    font-family: 'Inter';
    font-size: 1.82vh;
    font-weight: medium;
    color: #6F91A8;
}

.ant-input-group .ant-input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
    background-color: transparent;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
    border: 1px solid transparent;
    color: transparent;
}

span.anticon.anticon-close-circle.ant-input-clear-icon svg {
    fill: #6F91A8;
}

.tool-bar-container {
    display: flex;
    align-items: center;
}

.toolbar-btn {
    font-family: 'Inter';
    font-size: 1.8vh;
    font-weight: bold;
    letter-spacing: 1.6px;
    color: #6F91A8;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F6F8;
    border: 1px solid #F4F6F8;
    border-radius: 10px;
    height: 48px;
    margin-left: 20px;
}

.toolbar-btn:hover {
    font-family: 'Inter';
    font-size: 1.8vh;
    font-weight: bold;
    letter-spacing: 1.6px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003D63;
    border: 1px solid #003D63;
    border-radius: 10px;
    height: 48px;
    margin-left: 20px;
}

.toolbar-btn:focus {
    font-family: 'Inter';
    font-size: 1.8vh;
    font-weight: bold;
    letter-spacing: 1.6px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003D63;
    border: 1px solid #003D63;
    border-radius: 10px;
    height: 48px;
    margin-left: 20px;
}

 

.archive-icon {
    margin-right: 12px;
}


.tool-btn-left-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


.ant-checkbox-inner {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 15px;
    height: 20px;
    width: 20px;
    display: block;
    direction: ltr;
    background-color: white;
    border: 1.5px solid #6F91A8;
    border-radius: 5px;
    border-collapse: separate;
    transition: all 0.3s;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
    background-color: #33B986;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #33B986;
  }

.ant-table-wrapper {
    margin-top: 22px;
}

.ant-table-pagination.ant-pagination {
    display: none;
}

.fourdots-btn {
    font-family: 'Inter';
    font-size: 1.8vh;
    font-weight: bold;
    letter-spacing: 1.6px;
    color: #6F91A8;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F6F8;
    border: 1px solid #F4F6F8;
    border-radius: 10px;
    width: 60px;
    height: 48px;
    margin-left: 20px;
}

.fourdots-btn:hover {
    font-family: 'Inter';
    font-size: 1.8vh;
    font-weight: bold;
    letter-spacing: 1.6px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003D63;
    border: 1px solid #003D63;
    border-radius: 10px;
    width: 60px;
    height: 48px;
    margin-left: 20px;
}

.fourdots-btn:focus {
    font-family: 'Inter';
    font-size: 1.8vh;
    font-weight: bold;
    letter-spacing: 1.6px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003D63;
    border: 1px solid #003D63;
    border-radius: 10px;
    width: 60px;
    height: 48px;
    margin-left: 20px;
}

button.ant-btn.ant-btn-text.fourdots-btn:hover svg rect {
    fill:white;
}

button.ant-btn.ant-btn-text.fourdots-btn:focus svg rect {
    fill:white;
}