@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';

// @border-radius-base:2.5vh;
// @layout-header-background:transparent linear-gradient(90deg, #315B81 0%, #003463 100%) 0% 0% no-repeat padding-box;
@select-background: #f7f8fd;
@select-border-color: #fff;
@checkbox-border-radius: 2.5vh !important;
@popover-bg: #2b3134;
@popover-color: #fff;
@breadcrumb-base-color: #6f91a8;
@breadcrumb-font-size: 0.93vh;
@checkbox-color: #33b986;
@select-item-active-bg: #f7f8fd;
@select-item-selected-bg: #f7f8fd;
@btn-border-radius-base: 0.93vh;
@btn-primary-bg: transparent linear-gradient(90deg, #315b81 0%, #003463 100%) 0% 0% no-repeat
  padding-box;
@btn-font-weight: 600;
.ant-popover-inner {
  font-size: 1.2vh;
  color: #fff;
  font-weight: 400;
  height: 42px !important;
  border-radius:0.93vh;
}
