@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';

@primary-color: #33b986;
// @border-radius-base:1.5vh;
@layout-header-background:transparent linear-gradient(90deg, #315B81 0%, #003463 100%) 0% 0% no-repeat padding-box;
@select-background: #F7F8FD;
@select-border-color: #FFF;
@checkbox-border-radius: 50%;
