
.otpFields {
  width: 5.556vh;
  height: 7.2223vh;
  background-color: #f7f8fd;
  border: 1px solid #fff;
  border-radius: 1.03vh;
  justify-content: center;
  margin-bottom: 0.4vh;
  outline: none;
  font-size: 3.8588754134509373vh;
  font-weight: 600;
  box-shadow: none;
  background-color: #f7f8fd;
  text-align: center;
}
.otpWrapper{
  display: flex;
  flex-direction: row;
}
.otpSingleField{
  margin-right:0.8864809081527347vh;
}
